.hero-text {
    grid-area: hero-text;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 50px;
    padding-left: 30%;
    z-index: 1;
    margin-top: 100px;
}


.hero-text h2 {
    color: #17252A;
    font-size: 54px;
    font-weight: 900;
    line-height: 1.2em;
}

.hero-text a {
    color: #2B7A78;
}

.hero-text span {
    font-family: "Raleway", Sans-serif,serif;
    font-size: 20px;
    line-height: 30px;
}

.hero-text input {
    margin-top: 50px;
    font-family: "Raleway", Sans-serif, serif;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.6em;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    fill: #feffff;
    color: #FEFFFF;
    background-color: #2B7A78;
    border: none;
    border-radius: 4px 4px 4px 4px;
    padding: 15px 35px 15px 35px;
}

.hero-image {
    grid-area: hero-image;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15%;
    padding-top: 2.5rem;
}

.hero-image img {
    max-width: 700px;
    height: auto;
    box-shadow: 25px 25px 0 0 #555555;
    border: 50px solid #E9DDC1;
}
